.sidebar
  .well
    h5 Sidebar
    ul
      li: a(href='#') Link
      li: a(href='#') Link
      li: a(href='#') Link
      li: a(href='#') Link
    h5 Sidebar
    ul
      li: a(href='#') Link
      li: a(href='#') Link
      li: a(href='#') Link
      li: a(href='#') Link
    h5 Sidebar
    ul
      li: a(href='#') Link
      li: a(href='#') Link
      li: a(href='#') Link
      li: a(href='#') Link
