.row
  .span6
    h2 Heading
    p
      | Hey! The next competition is November 5th, 6pm to
      | November 6th, 5pm! Details below!
    p
      | Don't have a team? Visit the google groups link below!
      | Also, come to our pre-competition Git workshop on Friday,
      | November 4th, at 6pm in 5712 Sennott Square, U. Pitt
      | campus! We will learn git together and socialize before the big day.
    p
      | Register or look for teammates here!
    p: a.btn(href='/details/1') View details &raquo;
  .span5
    h2 Heading
    p
      | Donec id elit non mi porta gravida at eget metus. Fusce
      | dapibus, tellus ac cursus commodo, tortor mauris condimentum
      | nibh, ut fermentum massa justo sit amet risus. Etiam porta
      |sem malesuada magna mollis euismod. Donec sed odio dui.
  .span5
    h2 Heading
    p
      | Donec id elit non mi porta gravida at eget metus. Fusce
      | dapibus, tellus ac cursus commodo, tortor mauris condimentum
      | nibh, ut fermentum massa justo sit amet risus. Etiam porta
      |sem malesuada magna mollis euismod. Donec sed odio dui.
.row
  .span6
    h2 Heading
    p
      | Etiam porta sem malesuada magna mollis euismod. Integer
      | posuere erat a ante venenatis dapibus posuere velit aliquet.
      | Aenean eu leo quam. Pellentesque ornare sem lacinia quam
      | venenatis vestibulum. Duis mollis, est non commodo luctus,
      | nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    p: a.btn(href='/details/1') View details &raquo;
  .span5
    h2 Heading
    p
      | Donec id elit non mi porta gravida at eget metus. Fusce
      | dapibus, tellus ac cursus commodo, tortor mauris condimentum
      | nibh, ut fermentum massa justo sit amet risus. Etiam porta
      |sem malesuada magna mollis euismod. Donec sed odio dui.
  .span5
    h2 Heading
    p
      | Donec id elit non mi porta gravida at eget metus. Fusce
      | dapibus, tellus ac cursus commodo, tortor mauris condimentum
      | nibh, ut fermentum massa justo sit amet risus. Etiam porta
      |sem malesuada magna mollis euismod. Donec sed odio dui.
